<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
If you are interested in being a producer please <a href="mailto:greencoinproducer@gmail.com">email us</a>!!
</p><br/>
<p>For technical questions regarding the mining software please email the technical contact <a href="greencoindeveloper@gmail.com">here</a> or better yet post on the official <a href="https://bitcointalk.org/index.php?topic=636548.new#new">GreenCoin thread</a> on bitcointalk.org.
</p>
