<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
If you are interested in being a producer please use this <a href="mailto:biodieselchris@gmail.com">email</a>. New producers will be allowed to join the network on Saturday, June 14th, 2014. Come get your free GreenCoins!
</p>
<p>For technical questions regarding the mining software please email the technical contact <a href="greencoindeveloper@gmail.com">here</a> or better yet post on the official <a href="http://www.bitcointalk.org">GreencCoin thread</a> on bitcointalk.org.
</p>
