<div><h1 align=center style="color: red">
	THERE ARE APPROXIMATELY 1,400,000 GREENCOINS UP FOR GRABS EVERYDAY! <br/></h1><p align=center>
	<%= link_to "GET YOUR FREE GREENCOINS NOW!!!!",    contact_path %> | 
    <a href="http://www.twitter.com/GoGreenCoin">Twitter</a>
</p>
</div>



<div class="center hero-unit">
  <h1>Welcome to GreenCoin</h1>

  <h2>
    Soon we will be launching your carbon neutral life experience. 
  </h2>

<p><strong>1 GreenCoin is currently worth: 0.0063 g carbon</strong> (6.3 mg)</p>
<p>157,518 GreenCoins = 1 kg CO2</p>
<p>GreenCoin is Live! Download the <%= link_to "Windows Wallet", "/greencoin.zip" %></p>
<p><%= link_to "Mac Wallet", "https://www.dropbox.com/s/j20lj1y9resk4yy/GreenCoin-Qt-MacOSX-v0.8.6.2.zip" %>
<p>Full Website Coming Soon!</p>

<h2>Buy GreenCoins and Own Your Carbon!
	<a href="https://www.allcoin.com/trade/GRE_BTC">AllCoin</a> | 
    <a href="https://www.kingcoiny.com/index.php?page=trade&market=21">Kingcoiny</a> |
	<a href="https://www.coinader.com/?cur=GRE&ccur=BTC">Coinader</a>
</h2>
</div>
<p align=center>What is GreenCoin? <%= link_to "Read the Mission Statement Whitepaper here", "/GreenCoin-Abstract_v1.0.pdf" %></p>
<div>
</div>


