<div class="center hero-unit">
  <h1>Welcome to GreenCoin</h1>

  <h2>
    Soon we will be launching your carbon neutral life experience. 
  </h2>

<p><strong>1 GreenCoin is currently worth: 0.000003 kg carbon</strong> (2.6 mg)</p>
<p>389,813 GreenCoins = 1 kg CO2</p>
<p>GreenCoin is Live! Download the <%= link_to "Windows Wallet", "/Greencoin-QT.zip" %></p>
<p><%= link_to "Mac Wallet", "https://www.dropbox.com/s/j20lj1y9resk4yy/GreenCoin-Qt-MacOSX-v0.8.6.2.zip" %>
<p>Full Website Coming Soon!</p>
</div>
<p align=center>What is GreenCoin? <%= link_to "Read the Mission Statement Abstract here", "/GreenCoin-Abstract_v1.0.pdf" %></p>
<div>

	
</div>

<%= link_to image_tag("grc-logo.png", alt: "Rails", width: 75), 'http://www.grcoin.com' %>


