<div><h1 align=center style="color: green">
	THERE ARE APPROXIMATELY 1,400,000 GREENCOINS UP FOR GRABS EVERYDAY! <br/></h1><p align=center>
	<a href="mailto:greencoinproducer@gmail.com">GET YOUR FREE GREENCOINS NOW!!!!</a> | 
    <a href="http://www.twitter.com/GoGreenCoin">Twitter</a> |
    <a href="http://www.facebook.com/greencoinfoundation">Facebook</a>
</p>
</div>

<div class="center hero-unit">
  <h1>Welcome to GreenCoin</h1>

  <h2>
    Soon we will be launching your carbon neutral life experience.<br/>
    - Full Website Coming Soon! -
  </h2>

<p><strong>1 GreenCoin is currently worth: 0.0277 g carbon</strong> (27.7 mg)</p>
<p>36,121 GreenCoins = 1 kg CO2</p>
<p>The GreenCoin ecosystem has offset 4,304.6 kg CO2, and growing!</p>
<p>Download the <%= link_to "Windows Wallet", "/greencoin.zip" %> | 
   <%= link_to "Mac Wallet", "https://www.dropbox.com/s/j20lj1y9resk4yy/GreenCoin-Qt-MacOSX-v0.8.6.2.zip" %> |
   <a href="https://www.dropbox.com/s/9f7trnddsx62x5q/LinuxGreencoin-qt"> Linux Wallet</a>
 </p>

<br/>
<h2>Buy GreenCoins and Own Your Carbon!
	<a href="https://www.allcoin.com/trade/GRE_BTC">AllCoin</a> | 
  <a href="https://www.allcrypt.com/market?id=922">AllCrypt</a> | 
    <a href="https://www.kingcoiny.com/index.php?page=trade&market=21">Kingcoiny</a>
</h2>
  <table class="table table-striped">
  <h2>GreenCoin War (thru 8/2 payouts)</h2>
  <thead>
    <tr>
      <th>Country</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>United States</td>
        <td>3,977.6</td>
        <td>&nbsp;&nbsp;71,917,880</td>
      </tr>
      <tr>
        <td>United Kingdom</td>
        <td>&nbsp;&nbsp;&nbsp;288.4</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;5,174,958</td>
      </tr><tr>
        <td>Australia</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;38.5</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;633,529</td>
      </tr>
  </tbody>
</table>
</div>
<p align=center>What is GreenCoin? <%= link_to "Read the Mission Statement Whitepaper here", "/GreenCoin-Abstract_v1.0.pdf" %></p>
<div>
</div>


