<div class="center hero-unit">
  <h1>Welcome to GreenCoin</h1>

  <h2>
    Soon we will be launching your carbon neutral life experience. 
  </h2>

<p>1 GreenCoin is currently worth: 0.000000 kg carbon</p>

</div>
<div>
	<p align=center><%= link_to "Read the GreenCoin Abstract here", "/GreenCoin-Abstract_v1.0.pdf" %></p>
</div>

<%= link_to image_tag("grc-logo.png", alt: "Rails", width: 75), 'http://www.grcoin.com' %>


