<% provide(:title, 'News') %>
<h1>News</h1>

<h3>Wednesday, June 18th 2014: GreenCoin Day #11</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>144,190.9</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>47.8</td>
        <td>23.0</td>
        <td>626,574.9</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>33.2</td>
        <td>16.0</td>
        <td>435,718.6</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>183,515.7</td>
      </tr>
  </tbody>
</table>

<h3>Tuesday, June 17th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;5.0</td>
        <td>&nbsp;&nbsp;2.4</td>
        <td>&nbsp;&nbsp;68,962.1</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>48.1</td>
        <td>23.1</td>
        <td>663,415.4</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>33.7</td>
        <td>16.2</td>
        <td>464,528.7</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>193,093.9</td>
      </tr>
  </tbody>
</table>

<h3>Monday, June 16th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>13.0</td>
        <td>&nbsp;&nbsp;6.3</td>
        <td>167,299.3</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>47.6</td>
        <td>22.9</td>
        <td>612,572.9</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>33.4</td>
        <td>16.1</td>
        <td>429,959.3</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>

        <td>180,168.5</td>
      </tr>
  </tbody>
</table>


<h3>Sunday, June 15th 2014</h3>
<p>GreenCoin payouts made to three producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;6.0</td>
        <td>&nbsp;&nbsp;2.9</td>
        <td>&nbsp;&nbsp;99,273.9</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>45.6</td>
        <td>21.9</td>
        <td>754,481.6</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>32.4</td>
        <td>15.6</td>
        <td>536,244.5</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;0.0</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0</td>
      </tr>
  </tbody>
</table>

  </p>

<br/>
<h3>Saturday, June 14th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;3.0</td>
        <td>&nbsp;&nbsp;1.4</td>
        <td>&nbsp;&nbsp;48,219.24</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>41.5</td>
        <td>20.0</td>
        <td>667,032.80</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>31.0</td>
        <td>14.9</td>
        <td>497,444.00</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>

        <td>176,803.90</td>
      </tr>
  </tbody>
</table>

  </p>

<br/>
<h3>Sunday, June 8th 2014</h3>
<p>GreenCoin commences renewable producer payouts, initially values coins at 2.6 mg CO2 each.</p>
<br/>
<h3>Saturday, June 7th 2014</h3>
<p>GreenCoin goes live!</p>
<br/>
<h3>Monday, June 2nd, 2014</h3>
<p>GreenCoin Team announces pre-release. You can read the announcement <a href="https://bitcointalk.org/index.php?topic=636548.0">here</a>.</p>