<% provide(:title, 'News') %>
<h1>News</h1>

<h3>Wednesday, June 26th 2014: GreenCoin Day #19</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name/Location - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris A., Seattle, WA - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>149,105.4</td>
      </tr>
      <tr>
        <td>#2 - Jim K., Valley Springs, CA - PV Solar</td>
        <td>43.8</td>
        <td>21.1</td>
        <td>593,710.6</td>
      </tr>
      <tr>
        <td>#3 - Gloria W., Salida, CA - PV Solar</td>
        <td>35.0</td>
        <td>16.9</td>
        <td>474,968.5</td>       
      </tr>
      <tr>
        <td>#4 - Kyle F., Orinda, CA - PV Solar</td>
        <td>13.0</td>
        <td>&nbsp;&nbsp;6.3</td>
        <td>176,215.5</td>
      </tr>
      <tr>
        <td>#5 - Chris L., Oxford, UK - PV Solar</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0</td>
      </tr>
  </tbody>
</table>

<h3>Tuesday, June 25th 2014: GreenCoin Day #18</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name/Location - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris A., Seattle, WA - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>185,731.8</td>
      </tr>
      <tr>
        <td>#2 - Jim K., Valley Springs, CA - PV Solar</td>
        <td>47.6</td>
        <td>22.9</td>
        <td>631,488.2</td>
      </tr>
      <tr>
        <td>#3 - Gloria W., Salida, CA - PV Solar</td>
        <td>29.2</td>
        <td>15.3</td>
        <td>387,781.5</td>       
      </tr>
      <tr>
        <td>#4 - Kyle F., Orinda, CA - PV Solar</td>
        <td>15.0</td>
        <td>&nbsp;&nbsp;7.2</td>
        <td>198,998.4</td>
      </tr>
      <tr>
        <td>#5 - Chris L., Oxford, UK - PV Solar</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0</td>
      </tr>
  </tbody>
</table>

<h3>Tuesday, June 24th 2014: GreenCoin Day #17</h3>
<p>GreenCoin payouts made to five producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name/Location - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris A., Seattle, WA - PV Solar</td>
        <td>10.0</td>
        <td>&nbsp;&nbsp;4.8</td>
        <td>120,544.6</td>
      </tr>
      <tr>
        <td>#2 - Jim K., Valley Springs, CA - PV Solar</td>
        <td>46.6</td>
        <td>22.4</td>
        <td>561,737.9</td>
      </tr>
      <tr>
        <td>#3 - Gloria W., Salida, CA - PV Solar</td>
        <td>31.7</td>
        <td>15.3</td>
        <td>382,247.0</td>       
      </tr>
      <tr>
        <td>#4 - Kyle F., Orinda, CA - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>132,599.1</td>
      </tr>
      <tr>
        <td>#5 - Chris L., Oxford, UK - PV Solar</td>
        <td>16.0</td>
        <td>&nbsp;&nbsp;7.7</td>
        <td>192,871.4</td>
      </tr>
  </tbody>
</table>

<h3>Monday, June 23rd 2014: GreenCoin Day #16</h3>
<p><strong>GreenCoin welcomes Chris L. of Oxford, UK!</strong></p>
<p>GreenCoin payouts made to five producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name/Location - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris A., Seattle, WA - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>110,350.1</td>
      </tr>
      <tr>
        <td>#2 - Jim K., Valley Springs, CA - PV Solar</td>
        <td>47.1</td>
        <td>22.7</td>
        <td>472,499.0</td>
      </tr>
      <tr>
        <td>#3 - Gloria W., Salida, CA - PV Solar</td>
        <td>69.4</td>
        <td>33.4</td>
        <td>696,609.9</td>       
      </tr>
      <tr>
        <td>#4 - Kyle F., Orinda, CA - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>110,350.1</td>
      </tr>
      <tr>
        <td>#5 - Chris L., Oxford, UK - PV Solar</td>
        <td>&nbsp;&nbsp;6.0</td>
        <td>&nbsp;&nbsp;2.9</td>
        <td>&nbsp;&nbsp;60,191.0</td>
      </tr>
  </tbody>
</table>

<h3>Sunday, June 22nd 2014: GreenCoin Day #15</h3>
<p>GreenCoin payouts made to three producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>261,179.7</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>47.9</td>
        <td>23.0</td>
        <td>893,607.7</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>205,212.6</td>
      </tr>
  </tbody>
</table>
<p>Gloria's system was offline.</p><br/>


<h3>Saturday, June 21st 2014: GreenCoin Day #14<br/>
    Happy Summer Solstice Day: GreenCoin members enjoyed it by receiving more than $3.85/kWh!</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>16.0</td>
        <td>&nbsp;&nbsp;7.7</td>
        <td>243,618.4</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>43.0</td>
        <td>20.7</td>
        <td>654,724.7</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>19.3</td>
        <td>&nbsp;&nbsp;9.3</td>
        <td>294,169.2</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>167,487.7</td>
      </tr>
  </tbody>
</table>

<h3>Friday, June 20th 2014: GreenCoin Day Lucky-Number 13</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>149,651.0</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>46.0</td>
        <td>22.1</td>
        <td>625,893.4</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>32.7</td>
        <td>15.7</td>
        <td>445,280.0</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>12.0</td>
        <td>&nbsp;&nbsp;5.8</td>
        <td>163,255.7</td>
      </tr>
  </tbody>
</table>


<h3>Thursday, June 19th 2014: GreenCoin Day #12</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>15.0</td>
        <td>&nbsp;&nbsp;7.2</td>
        <td>169,771.0</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>46.5</td>
        <td>22.4</td>
        <td>526,290.0</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>32.7</td>
        <td>15.7</td>
        <td>369,987.5</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>25.0</td>
        <td>12.0</td>
        <td>282,951.6</td>
      </tr>
  </tbody>
</table>

<h3>Wednesday, June 18th 2014: GreenCoin Day #11</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>
        <td>144,190.9</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>47.8</td>
        <td>23.0</td>
        <td>626,574.9</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>33.2</td>
        <td>16.0</td>
        <td>435,718.6</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>183,515.7</td>
      </tr>
  </tbody>
</table>

<h3>Tuesday, June 17th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;5.0</td>
        <td>&nbsp;&nbsp;2.4</td>
        <td>&nbsp;&nbsp;68,962.1</td>
      </tr>
      <tr>
        <td>#2 - Jim - PV Solar</td>
        <td>48.1</td>
        <td>23.1</td>
        <td>663,415.4</td>
      </tr>
      <tr>
        <td>#3 - Gloria - PV Solar</td>
        <td>33.7</td>
        <td>16.2</td>
        <td>464,528.7</td>       
      </tr>
      <tr>
        <td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>
        <td>193,093.9</td>
      </tr>
  </tbody>
</table>

<h3>Monday, June 16th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>13.0</td>
        <td>&nbsp;&nbsp;6.3</td>
        <td>167,299.3</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>47.6</td>
        <td>22.9</td>
        <td>612,572.9</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>33.4</td>
        <td>16.1</td>
        <td>429,959.3</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>14.0</td>
        <td>&nbsp;&nbsp;6.7</td>

        <td>180,168.5</td>
      </tr>
  </tbody>
</table>


<h3>Sunday, June 15th 2014</h3>
<p>GreenCoin payouts made to three producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;6.0</td>
        <td>&nbsp;&nbsp;2.9</td>
        <td>&nbsp;&nbsp;99,273.9</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>45.6</td>
        <td>21.9</td>
        <td>754,481.6</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>32.4</td>
        <td>15.6</td>
        <td>536,244.5</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>&nbsp;&nbsp;0.0</td>
        <td>&nbsp;&nbsp;0.0</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.0</td>
      </tr>
  </tbody>
</table>

  </p>

<br/>
<h3>Saturday, June 14th 2014</h3>
<p>GreenCoin payouts made to four producers:
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Producer ID - Name - System Type</th>
      <th>kWh Generated</th>
      <th>kg CO2</th>
      <th>GreenCoins Paid</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#1 - Chris - PV Solar</td>
        <td>&nbsp;&nbsp;3.0</td>
        <td>&nbsp;&nbsp;1.4</td>
        <td>&nbsp;&nbsp;48,219.2</td>
      </tr>
      <tr>
      	<td>#2 - Jim - PV Solar</td>
        <td>41.5</td>
        <td>20.0</td>
        <td>667,032.8</td>
      </tr>
      <tr>
      	<td>#3 - Gloria - PV Solar</td>
        <td>31.0</td>
        <td>14.9</td>
        <td>497,444.0</td>       
      </tr>
      <tr>
      	<td>#4 - Kyle - PV Solar</td>
        <td>11.0</td>
        <td>&nbsp;&nbsp;5.3</td>

        <td>176,803.9</td>
      </tr>
  </tbody>
</table>

  </p>

<br/>
<h3>Sunday, June 8th 2014</h3>
<p>GreenCoin commences renewable producer payouts, initially values coins at 2.6 mg CO2 each.</p>
<br/>
<h3>Saturday, June 7th 2014</h3>
<p>GreenCoin goes live!</p>
<br/>
<h3>Monday, June 2nd, 2014</h3>
<p>GreenCoin Team announces pre-release. You can read the announcement <a href="https://bitcointalk.org/index.php?topic=636548.0">here</a>.</p>