<footer class="footer">
  <small>
    <a href="">GreenCoin</a> by QP doll
  </small>
  <nav>
    <ul>
      <li><img src="http://actionwidgets.org/uni/e/co2-m/055-ppm.png"
          title="Atmospheric CO2" alt="CO2" width="55" border="0" /></li>
    </ul>
  </nav>
</footer>